.container1 {
    background-image: url("/images/resume_themes/theme1102/background.jpg") !important;
    background-size: cover !important;
    background-repeat: repeat !important;
    min-height: 100vh;


    @media only screen and (max-width: 1023px) {
        background-image: url("/images/resume_themes/theme1102/mobile-background.jpg") !important;
        min-height: 410px !important;
        height: 410px !important;
        border-bottom-right-radius: 50px;
    }
    @media only screen and (max-width: 550px) {
        min-height: 350px !important;
        height: 350px !important;
        border-bottom-right-radius: 50px;
    }

    }

.header1 {
    background-color: $color-white;
    padding: 20px 100px 15px 60px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    margin-bottom: 30px;

    @media only screen and (max-width: 1200px) {
        padding: calc(20px - #{$tab-font-size}) calc(100px - 40px) calc(15px - #{$header-font-size}) calc(60px - 20px);
        border-bottom-left-radius: calc(40px - #{$header-font-size});
        border-bottom-right-radius: calc(40px - #{$header-font-size});
        margin-bottom: calc(30px - #{$header-font-size})
    }
    @media only screen and (max-width: 1200px) {
        padding: calc(20px - #{$tab-font-size}) calc(100px - 40px) calc(15px - #{$header-font-size}) calc(60px - 20px);
        border-bottom-left-radius: calc(40px - #{$header-font-size});
        border-bottom-right-radius: calc(40px - #{$header-font-size});
        margin-bottom: calc(30px - #{$header-font-size})
    }
    @media only screen and (max-width: 1023px) {
        margin: 60px 30px;
        padding: 40px 20px;
    }
    @media only screen and (max-width: 550px) {
        margin: 50px 20px;
        padding: 30px 10px 50px 10px;
    }
}

.tabs {
    width: 100%;
    font-family: $font-primary;
    background-color: transparent;


}

.section__main {
    @media only screen and (max-width: 1023px) {

        background-color: $color-white;
        margin-top: -20px;
    }
}

