$tab-font-size: 7px;
$tab-font-size1: 5px;
$tab-font-size2: 3px;

.skill {
    margin: 0 100px;
    padding: 60px 100px 100px 60px;
    background-color: #fff;
    border-radius: 40px;
    @media only screen and (max-width: 1200px) {
        margin: 0 calc(100px - #{$tab-font-size1});
        padding: calc(60px - #{$tab-font-size1}) calc(100px - #{$tab-font-size1}) calc(100px - #{$tab-font-size1}) calc(60px - #{$tab-font-size1});
        border-radius: calc(40px - #{$tab-font-size1});
    }
    @media only screen and (max-width: 1023px) {
        margin: 0 calc(100px / 2);
        padding: calc(60px / 2) calc(100px / 2) calc(100px / 2) calc(60px / 2);
        border-radius: calc(40px - #{$tab-font-size2});
    }
    @media only screen and (max-width: 550px) {

        margin: unset;

    }


    &__programming {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 50px;
        @media only screen and (max-width: 550px) {
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        }

            &:not(:last-child) {
            padding-bottom: 50px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__list > * {
        margin-right: 20px;
    }

    &__details {
        color: #9d440e;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: -27px;

    }

    &__progress {
        height: 10px;
        background-color: #9d440e;
        border-radius: 5px;
        margin-top: 5px;



    }

    &__percentage {
        color: #9d440e;
        font-weight: 700;
    }

    &__logo {
        font-size: 40px;
        color: #9d440e;
        padding: 0px 8px;
        border: 5px solid #9d440e;
    }

}


.main-tabs {
    margin-bottom: 50px;
    @media only screen and (max-width: 1200px) {
        margin-bottom: calc(50px - #{$tab-font-size});

    }
}

.v-tab[data-v-31818b80] {
    background-color: rgba(255, 255, 255, 0) !important;

}

.theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
    color: #9d440e !important;
    font-family: 'Poppins', sans-serif !important;
    text-decoration: none !important;
    background-color: transparent !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    text-transform: none !important;
    @media only screen and (max-width: 1380px) {
        font-size: calc(20px - #{$tab-font-size}) !important;
    }
    @media only screen and (max-width: 550px) {
        font-size: 10px !important;
    }
    @media only screen and (max-width: 365px) {
        font-size: 7px !important;
    }

}

.v-tab[data-v-31818b80][data-v-31818b80] {
    color: #9d440e !important;
    font-family: 'Poppins', sans-serif !important;
    text-decoration: none !important;
    background-color: transparent !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    text-transform: none !important;
    @media only screen and (max-width: 1380px) {
        font-size: calc(20px - #{$tab-font-size}) !important;
    }
    @media only screen and (max-width: 550px) {
        font-size: 10px !important;
    }
    @media only screen and (max-width: 365px) {
        font-size: 7px !important;
    }

}

.v-tab--active {
    .tab-item {
        color: #9d440e !important;
        font-family: 'Poppins', sans-serif !important;
        text-decoration: none !important;
        background-color: transparent !important;
        font-size: 30px !important;
        font-weight: 900 !important;
        text-transform: none !important;
        @media only screen and (max-width: 1380px) {
            font-size: calc(30px - #{$tab-font-size}) !important;
        }
        @media only screen and (max-width: 550px) {
            font-size: 13px !important;

        }
        @media only screen and (max-width: 365px) {
            font-size: 10px !important;

        }
    }
}
