.btn {
    border: 1.5px solid $mainBlue !important;
    border-radius: 12px !important;
    background: transparent;
    color: $mainBlue !important;
    text-decoration: none;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    padding: 18px 20px !important;
    font-size: 20px !important;

    min-width: 250px;

    @include lt-md {
        font-size: 8px !important;
        padding: 10px 20px !important;
        border-radius: 5px !important;
        min-width: 165px;
    }

    @include lt-sm {
        margin-top: 1rem;
    }

    .icon {
        margin-right: 10px;
        height: 18px;

        @include lt-md {
            height: 16px;
        }

        path, circle {
            fill: $mainBlue;
        }
    }
    
    &-filled {
        background: $mainBlue;
        color: white !important;
        box-shadow: 0px 5px 5px rgba($color: black, $alpha: 0.16);
        
        a {
            color: white !important;
        }
        
        .icon {
            path, circle {
                fill: white;
            }
        }
    }

    &-outline {
        font-family: 'Noto Sans';
        font-size: 21px;
        font-weight: 500;
        color: #001CE2;
        border: 1px solid #1F5DE4;
        border-radius: 8px;
        text-decoration: none;
        outline: none;
        background: #fff;

        &:hover{
            text-decoration: none;
        }

        +.btn-outline{
            margin-left: 46px;
        }
    }
}

.icon-container {
    display: block;
    border-radius: 5px;
    width: 27px;
    height: 27px;
    margin-right: 21px;
    
    &.white {
        background: white;
    }

    &.blue {
        background: $mainBlue;
    }
}