.civie-dropzone {
    border: 2px solid $inputBorderColor--enabled;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    background: none;
  
    .dropzone-custom-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    
        .icon {
            fill: transparent;
            width: 30px;
        }
    }
}