.input-field {
    flex-flow: column;
    display: flex;
    margin-bottom: 25px;
    
    label {
        font-size: 22px;
        line-height: 30px;
        color: #505050;
        font-family: "Noto Sans";
        font-weight: 700;
        
        @include lt-md {
            color: $mainBlue;
            font-size: 18px;
        }

        .hint-message {
            font-size: 18px;
            float: right;
            font-style: normal;

            &.left {
                float: none;
                margin-top: 7px;
                margin-bottom: 16px;
            }

            @include lt-sm {
                font-size: 9px;
            }
        }

        @include lt-sm {
            font-size: 13px;
        }
    }
    input, select {
        min-height: 73px;
        max-width: 637px;
        width: 100%;
        border: 1.5px solid #505050;
        border-radius: 8px;
        padding: 0px 0px 0px 16.8px;
        color: #444444;
        font-size: 15px;
        font-family: "Noto Sans";
        font-weight: 500;
        outline: none;

        &.--blue {
            border-color: $mainBlue;
        }

        &:focus {
            border-color: $mainBlue;
        }

        &::placeholder {
            color: #a5a5a5;
        }

        @include lt-md {
            font-size: 16px;
        }

        @include lt-sm {
            font-size: 13px;
            min-height: 38px;
            border-radius: 6px;
            border-width: 0.5px;
        }

    }
    textarea {
        min-height: 181px;
        max-width: 1048;
        width: 100%;
        padding: 23px 25px;
        font-size: 22px;
        font-family: "Noto Sans";
        font-weight: 500;
        outline: none;
        color: #444444;
        border: 1.5px solid #505050;
        border-radius: 8px;
        resize: none;

        &:focus {
            border-color: $mainBlue;
        }

        &::placeholder {
            color: #a5a5a5;
        }

        &.--blue {
            border-color: $mainBlue;
        }

        @include lt-sm {
            font-size: 13px;
            min-height: 83px;
            border-radius: 6px;
            border-width: 0.5px;
        }
    }
}

.civ-input{
    width: 32%;
    max-width:269px;
    margin-right: 30px;

    @media (max-width: 1580px) {
        width: 40%;
        margin-right: 0;
    }

    @include lt-md {
        width: 100%;
        margin-bottom: 1rem;
    }

    label{
        text-align: left;
        font: 600 22px Noto Sans;
        letter-spacing: 0;
        color: #505050;
        opacity: 1;

        @include lt-md {
            color: $mainBlue;
            margin-bottom: 20px;
            font-size: 18px;
        }

        @include lt-sm {
            font-size: 12px;
        }
    }

    .civ-custom-select{

        position: relative;


        @include lt-md {

            border-color: $mainBlue;
        }

        .civ-select-input{
            img{
                width:24px ;
                height:12px;
                position: absolute;
                top: 35px;
                right: 20px;

                &.toggled{
                    -webkit-transform: scaleY(-1);
                    transform: scaleY(-1);
                }

                @include lt-sm {
                    height: 9px;
                    width: 18px;
                    top: 15px;
                    right: 15px;
                }
            }

            ::placeholder {
                opacity: .3;
                font-weight: normal;
            }

            input{
                width: 100%;
                height:76px;
                border: 1.5px #505050 solid;
                padding: 5px 23px;
                border-radius: 10px 10px 0 0;
                border-bottom: 0;
                color: black;
                font-weight: bold;
                font-size: 22px;
                background: white;

                @include lt-md {
                    border-color: $mainBlue;
                }

                @include lt-sm {
                    font-size: 14px;
                    height: 38px
                }

                &:focus{
                    outline: none !important;
                }
                &:hover{
                    cursor: pointer;
                }

                &.with-border{
                    border-bottom: 1.5px #505050 solid;
                    border-radius: 10px;

                    @include lt-md {

                        border-color: $mainBlue;
                    }
                }
            }

        }

        .civ-custom-options{
            background: #f8fafc;
            position: absolute;
            border: 1.5px #505050 solid;
            border-radius: 0 0 10px 10px;
            opacity: 1;
            margin-top: 0;
            width: 100%;
            border-top: 0;
            height: auto;
            max-height: 300px;
            overflow-y: auto;
            z-index: 30;

            @include lt-md {
                border-color: $mainBlue;
            }

            div{
                font-size: 22px;
                padding-left: 23px;
                margin-left: 1px;

                @include lt-sm {
                    font-size: 14px;
                }

                &:hover{
                    cursor: pointer;
                    background: lightcyan;
                }

                &:last-child:hover{
                    border-radius:0 0 10px 10px ;
                }
            }
        }
    }

}