.input-field {
    flex-flow: column;
    display: flex;
    margin-bottom: 25px;
    
    label {
        font-size: 22px;
        line-height: 30px;
        color: #505050;
        font-family: "Noto Sans";
        font-weight: 700;
        
        @include lt-md {
            color: $mainBlue;
            font-size: 18px;
        }

        .hint-message {
            font-size: 18px;
            float: right;
            font-style: normal;

            &.left {
                float: none;
                margin-top: 7px;
                margin-bottom: 16px;
            }

            @include lt-sm {
                font-size: 9px;
            }
        }

        @include lt-sm {
            font-size: 13px;
        }
    }
    input, select {
        min-height: 73px;
        max-width: 637px;
        width: 100%;
        border: 1.5px solid #505050;
        border-radius: 8px;
        padding: 0px 0px 0px 16.8px;
        color: #444444;
        font-size: 15px;
        font-family: "Noto Sans";
        font-weight: 500;
        outline: none;

        &.--blue {
            border-color: $mainBlue;
        }

        &:focus {
            border-color: $mainBlue;
        }

        &::placeholder {
            color: #a5a5a5;
        }

        @include lt-md {
            font-size: 16px;
        }

        @include lt-sm {
            font-size: 13px;
            min-height: 38px;
            border-radius: 6px;
            border-width: 0.5px;
        }

    }
    textarea {
        min-height: 181px;
        max-width: 1048;
        width: 100%;
        padding: 23px 25px;
        font-size: 22px;
        font-family: "Noto Sans";
        font-weight: 500;
        outline: none;
        color: #444444;
        border: 1.5px solid #505050;
        border-radius: 8px;
        resize: none;

        &:focus {
            border-color: $mainBlue;
        }

        &::placeholder {
            color: #a5a5a5;
        }

        &.--blue {
            border-color: $mainBlue;
        }

        @include lt-sm {
            font-size: 13px;
            min-height: 83px;
            border-radius: 6px;
            border-width: 0.5px;
        }
    }
}