.achievements-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 75px;
    border-bottom: 3px solid #C9CFF8;
    position: relative;

    @include lt-sm {
        margin-top: 30px;
    }

    .decorator {
        position: absolute;
        display: block;
        bottom: -3px;
        left: 0;
        height: 3px;
        background-color: $mainColor;
        transform: translateX(0);
        transition: .6s;
    }

    .bar-item {
        font: 700 35px Noto Sans;
        letter-spacing: 0;
        color: #505050;
        opacity: 1;
        padding: 0 20px;
        padding-bottom: 23px;
        margin-bottom: -3px;
        border-bottom: 3px solid #C9CFF8;
        transition: all 300ms ease-in;
        text-align: center;

        @include lt-lg {
            font-size: 28px;
            padding: 0 15px;
            padding-bottom: 15px;
            max-width: auto;
        }
        
        @include lt-md {
            font-size: 17px;
            padding: 0 12px;
            padding-bottom: 12px;
        }

        @include lt-sm {
            font-size: 12px;
            padding: 5px;
            padding-bottom: 7.3px;
        }
        
    }

    .bar-item:hover {
        cursor: pointer;
    }

    .bar-item.active {
        color: #001CE2;
    }
}