/* Fonts */
$nexa-light: "NexaLight", sans-serif;
$nexa-bold: "NexaBold", sans-serif;
$montserrat: 'Montserrat', sans-serif;
$poppins: "Poppins", sans-serif;

/* Media queries */
$xs: 375px;
$sm: 426px;
$md: 768px;
$lg: 1024px;
$xl: 1600px;
$xxl: 1920px;
$xxxl: 2560px;
