#resumeTheme502 {
    #theme502 {
        padding: 0 5.8rem;
    }

    .theme--light.v-application {
        background: transparent;
    }

    .margleft {
        margin-left: 8rem !important;
    }

    .padleft {
        padding-left: 10rem !important;
    }

    .avatar .v-responsive .v-image {
        border-radius: 0px 1rem 2rem 0px;
    }

    .v-image__image {
        border-radius: 20px;
    }

    .v-tabs-slider-wrapper {
        height: 3px !important;
        padding: 0 3rem !important;
        left: 0;
        color: #2943c7 !important;
        border-radius: 10px !important;
    }

    .tablet:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #dfdfdf;
        margin-top: 0px;
        margin-left: 0.5rem;
    }

    .v-tabs-bar {
        height: 60px !important;
    }

    .textcol {
        color: #2943c7 !important;
    }

    .antext {
        color: #2943c7;
    }

    #theme502 {
        background: url("/images/resume_themes/theme502/backdeg.png");
        background-size: 100vw auto;
        background-repeat: no-repeat;
    }

    /* .theme--light.v-tabs .v-tab:hover {
    color: #f8f8f8 !important;
    } */
    .theme--light.v-tabs .v-tab:focus-within {
        color: #f8f8f8 !important;
    }

    .v-tab:not(.v-tab-active) {
        opacity: 0.3;
    }

    .v-tab--active {
        opacity: 1 !important;
        color: #222d68 !important;
    }

    .fade-up-enter-active,
    .fade-up-leave-active {
        transition: all 0.3s ease-in-out;
    }

    .fade-up-enter,
    .fade-up-leave-to {
        transform: translateX(30px);
        opacity: 0;
    }

    .hire {
        // background: #2943c7;
        // border-radius: 10px;

        width: 9rem;
    }

    .v-avatar {
        width: 10rem !important;
        height: 10rem !important;
    }

    .head {
        font-size: 1.5rem;
    }

    .tabtitle {
        font-size: 1.5rem;
    }

    .iconsize {
        width: 64px !important;
        height: 64px !important;
    }

    .skilltext {
        font-size: 1.2rem !important;
        color: #1f1f1f;
    }

    .pro-back {
        background: #d0d5ec;
        border-radius: 10px;
        max-width: 100%;
        z-index: 10;
    }

    .progress {
        height: 4px;
        background: #2943c7;
        border-radius: 10px;
    }

    .skilltab .v-tab--active:hover {
        color: #2943c7 !important;
    }

    .skilltab:not(.v-tab-active) {
        opacity: 1 !important;
    }

    .skilltab:hover {
        color: #2943c7 !important;
    }

    .sfont {
        font-size: 0.8rem;
    }

    .subhead {
        font-size: 0.8rem !important;
        font-weight: 300 !important;
    }

    .newTitle{
     
        font-style: normal;
        font-weight: 500;
        font-size: 38px;
        line-height: 60px;
        letter-spacing: 0.05em;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #2943C7;
    }
    .newText{
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 20px;
        letter-spacing: 0.05em;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #9C9C9C;
    }
    .newSubtitle{
        font-family:'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 23px;
        color: #4E4E4E;
    }
    @media (min-width: 1600px) {
        .margleft {
            margin-left: 8rem !important;
        }

        .padleft {
            padding-left: 10rem !important;

        }
    }

    @media (min-width: 1264px) {
        .head {
            font-size: 1.5rem;
        }

        .subhead {
            font-size: 0.653rem !important;
            font-weight: 200 !important;
        }
    }

    @media only screen and (max-width: 768px) {
        .margleft {
            margin-left: 0rem !important;
        }

        .padleft {
            padding-left: 2rem !important;
        }

        #theme502 {
            padding: 0 0;
        }

        .tablet:after {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            background-color: #dfdfdf;
            margin-top: 0px;
        }

        .tabtitle {
            font-size: 1rem;
        }

        #theme502 {
            background: url("/images/resume_themes/theme502/tabdesign.png");

            background-size: 100vw auto;
            background-repeat: no-repeat;
        }

        .v-tabs-slider-wrapper {
            height: 3px !important;
            padding: 0 3rem !important;
            left: 0;
            color: #2943c7 !important;
            border-radius: 10px !important;
        }

        .subhead {
            font-size: 0.653rem !important;
            font-weight: 200 !important;
        }
    }

    @media only screen and (max-width: 600px) {
        .v-slide-group__wrapper {
            cursor: auto;
            margin-left: -25px !important;
        }

        #theme502 {
            padding: 0 0;
        }

        .margleft {
            margin-left: 0rem !important;
        }
        .newTitle{
     
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 40px;
            letter-spacing: 0.05em;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: #2943C7;
        }
        .newText{
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.05em;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: #9C9C9C;
        }
        .newSubtitle{
            font-family:'Open Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 23px;
            color: #4E4E4E;
        }
        .helo {
            margin-left: -30px;
        }

        .padleft {
            padding-left: 2rem !important;
        }

        .headline {
            line-height: 22px !important;
        }

        .v-tabs-slider-wrapper {
            height: 3px !important;
            padding: 0 1rem !important;
            left: 0;
            color: #2943c7 !important;
            border-radius: 10px !important;
        }

        .avatar .v-image__image {
            border-radius: 0px 5px 20px 0px;
        }

        .subhead {
            font-size: 0.653rem !important;
            font-weight: 200 !important;
        }

        .head {
            font-size: 1.125rem !important;
        }

        #theme502 {
            background: url("/images/resume_themes/theme502/mob.png");
            background-size: 100vw auto;
            background-repeat: no-repeat;
        }

        .tablet:after {
            content: "";
            position: absolute;
            height: 4px;
            width: 100% !important;
            background-color: rgba(255, 255, 255, 0.05);
            margin-top: 40px;
            margin-left: 0px !important;
        }

        .v-avatar {
            width: 7rem !important;
            height: 7rem !important;
        }

        .profile {
            margin: 0px 6px;
        }

        .v-tabs-bar.v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(.v-tabs-bar--show-arrows):not(.v-slide-group--has-affixes) .v-slide-group__prev {
            display: none !important;
            visibility: hidden;
        }

        .tab-button {
            width: 10rem !important;
        }

        .tabtitle {
            font-size: 1.2rem;
        }
    }

    .iconsize {
        width: 32px !important;
        height: 32px !important;
    }
}