#resumeTheme501 {
    .textcol{
        color: #623CEA;
    }
    #theme501{
    padding: 0 5.8rem ;
    }
    .box-layer{
       box-shadow: 50px 50px #623CEA;
        border-radius: 5px;
    }
    .profile{
        height: 164px; 
        min-width: 164px; 
        width: 164px;
    }
    
    .scrollbar{
        overflow-y: scroll;
        height: 600px;
        direction: rtl; 
    }
    .scrollbar::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
      
        background-color: #F5F5F5;
    }

    .scrollbar::-webkit-scrollbar
    {
        width: 15px;
        
        background-color: #F5F5F5;
    }

    .scrollbar::-webkit-scrollbar-thumb
    {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.3);
        background-color:#2400FF;
        height: 150px;
    }
    .newTitle{
      
        text-align: left;
        font-weight: 500;
        font-size: 30px;
        line-height: 50px;
        color:#623CEA;
    }
    .newSubtitle{
        text-align: left;
        font-family: 'Circular Std Book';
        font-weight: normal;
        font-size: 26px;
        line-height: 41px;
        color:#656565;
    }
    .hobbyTitle{
        text-align: left;
        font-weight: 500;
        font-size: 40px;
        line-height: 55px;
        color:#623CEA;
    }
    
    .tabtitle{
        font-size: .8rem;
        color: #3D3D3D;
    }
    .backlayer{
        background-color:#E9F6FF;
    }

    .active{
        position: relative;
    }
    .active:before{
        content: '';
        position: absolute;
        top: 43px;
        left: 32%;
        width: 100px;
        height: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #03CA9F;
    }

    .large_dot:before{
        bottom: 0;
        content: "";
        height: 100%;
        position: absolute;
        top: 50px;
        width: 2px;
    }
    .v-timeline-item__dot--small {
        height: 10px;
        left: calc(50% - 12px);
        width: 10px;
    }

    .v-timeline-item__dot--large{
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.169);
    }

    .v-timeline-item {
        display: flex;
        padding-bottom: 6px;
    }
    .mainPoint{
    margin-left: 10px;
        height: 5px;
        border-radius: 15px;
        width: 40px;
        background-color:rgb(119, 126, 124);
    }

    .mainPoint::before{
        content: '';
        display: block;

    
        margin-left: 50px;
        height: 5px;
        border-radius: 15px;
        width: 20px;
        background-color:#03CA9F;
    }

    .lilPoint{
        margin-left: 90px;
        height: 5px;
        border-radius: 15px;
        width: 40px;
        background-color:#03CA9F;
        margin-top: -5px;
    }


    .v-tab--active{
        background-color:#FAFAFA;
        color:#623CEA ;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;    
    }
  
   .line{
       width:3em; 
       height:3px; 
       background-color:#69C03E;
       margin-left:auto;
       margin-top:.8rem;
   }


    .v-tabs-slider-wrapper{
    display: none !important;
    }
    .theme--dark.v-tabs .v-tab:hover:before {
        opacity: .08;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .head {
        line-height: 1em;
        font-size: 1.5rem;
    }

    .subhead {
        line-height: 1em;
        font-size: 1.4rem;
    }

    .info-pad{
        background: rgb(37, 29, 68,0.20) ;
        border-radius: 10px;
        padding:5px 0;
        }
    .info-title{
            color: #fff ;
            font-size: 1.25rem;
            font-weight: 500;
            letter-spacing: .0125em;
        }
    .info-subtitle{
        color:  #fff ;
        font-weight: 600 ;
        font-size: .875rem;
        font-weight: 500;
        letter-spacing: .0125em;
    }
    .buttonsize{
            width: 80%;
             height: 50px;
        }
@media (max-width:1600px) {
    .scrollbar{
        overflow-y: scroll;
        height: 500px;
        direction: rtl; 
    }
     #theme501{
        padding: 0 5.8rem ;
        }
    .profile{
            height: 164px; 
            min-width: 164px; 
            width: 164px;
        }
    .info-pad{
        background: rgb(37, 29, 68,0.20) ;
        border-radius: 10px;
        padding:5px 0;
    }
    .info-title{
            color: #fff ;
            font-size: 1.25rem;
            font-weight: 500;
            letter-spacing: .0125em;
        }
    .info-subtitle{
        color:  #fff ;
        font-weight: 600 ;
        font-size: .875rem;
        font-weight: 500;
        letter-spacing: .0125em;
    }
}


  @media only screen and  (max-width:768px) {
    .scrollbar{
        overflow-y: hidden;
        height: auto;
        direction: ltr; 
    }
        .head {
            line-height: 1.5em;
            font-size: 1.5rem;
        }

        .subhead {
            line-height: 1.2em;
            font-size: 1rem;
        }
        #theme501{
            padding: 0 0 ;
        }
        .iconsize{
            height: 36px !important; 
            min-width: 36px !important;
        }
        .active:before{
            content: '';
            position: absolute;
            top: 43px;
            left: 22%;
            width: 100px;
            height: 5px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #03CA9F;
        }
        .line{
            width:1em; 
            height:3px; 
            background-color:#69C03E;
            margin-left:auto;
            margin-top:.8rem;
        }
        .info-pad{
           background: rgb(255, 255, 255) ;
            border-radius: 10px;
            padding:5px 0;
        }
        .info-title{
            color: #757985 ;
            font-weight: 600 ;
            font-size: 1.25rem;
            font-weight: 500;
            letter-spacing: .0125em;
        }
        .info-subtitle{
            color: #757985 ;
            font-weight: 600 ;
            font-size: .875rem;
            font-weight: 500;
            letter-spacing: .0125em;
        }
        .profile{
        height: 164px; 
        min-width: 164px; 
        width: 164px;
        }
        .mini {
        line-height: 1em;
        font-size: 1rem;
        }
        .buttonsize{
            width: 100%;
            height: 50px;
           
        }
        
    }
    @media (max-width: 600px) {
        #theme501 {
            padding: 0 0;
        }
        .head {
            line-height: 1.5em;
            font-size: 1.5rem;
        }
        .scrollbar{
            overflow-y: hidden;
            height: auto;
            direction: ltr; 
        }
        .newTitle{
      
            text-align: left;
            font-weight: 500;
            font-size: 24px;
            line-height:40px;
            color:#623CEA;
        }
        .newSubtitle{
            text-align: left;
            font-family: 'Circular Std Book';
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            color:#656565;
        }
        .profile{
            height: 120px; 
            min-width: 120px; 
            width: 120px;
        }
         .iconsize{
            height: 30px !important; 
            min-width: 30px !important;
        }
        .info-pad{
           background: rgb(255, 255, 255) ;
            border-radius: 10px;
        }
        .info-title{
            color: #757985 ;
            font-weight: 600 ;
            font-size: 1.25rem;
            font-weight: 500;
            letter-spacing: .0125em;
        }
        .info-subtitle{
            color: #757985 ;
            font-weight: 600 ;
            font-size: .875rem;
            font-weight: 500;
            letter-spacing: .0125em;
        }  
        .buttonsize{
            width: 115px;
            height: 40px;
            
        }
        .subhead {
            line-height: .85em;
            font-size: .9rem;
        } 
        .mini {
            font-size: 12px !important;
        }
        .tab-dot{
            height: 10px;
            width: 10px;
            margin-right: 3px;
            background: lightgray;
            border-radius: 50px;
            display: inline-block;
            box-shadow: 0px 0px 4px grey inset;
        }
        .tab-dot-active{
            margin-right: 3px;
            height: 10px;
            width: 10px;
            background: black;
            border-radius: 50px;
            display: inline-block;
            box-shadow: 0px 0px 4px grey inset;
        }
        .v-slide-group__next, .v-slide-group__prev {
            align-items: center;
            display: flex;
            flex: 0 0 0; 
            justify-content: center; 
            min-width: 0; 
        }
        .theme--light.v-tabs .v-tab--active:before, .theme--light.v-tabs .v-tab--active:hover:before, .theme--light.v-tabs .v-tab:focus:before {
            opacity: 0 !important;
        }
        .v-tab .tablet .v-tab--active {
            color: #623CEA !important;
        }
        .sicon .v-icon{
            font-size: 20px;
        }

        
        .tab-mobile-btn-active {
            width: 15vw !important ;
            height: 15vw !important;
        }
        .tab-mobile-btn-active .sicon .v-icon {
            color: #ffff;
            height: 30px;
            font-size: 30px;
            width: 30px;
        }
        .tabmob .v-tab .v-tab--active {
            background-color: transparent ;
        }
         .tabmob .v-tab--active {
            background-color: transparent;
            color: #fff;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        
        
    }
}
