#resumeTheme200,
#userTheme200 {
    .availibility-tablet {
        display: none;
    }
    // Social Icons
    .mobile-social-icon-image {
        width: 30px;
    }
    .mobile-social-icon-image-behance {
        width: 32px;
    }
    // Social Icons
    .pagination-text {
        color: #3d3d3d;
    }
    .parent-card {
        border-radius: 0px !important;
    }
    .profile-avatar {
        width: 150px !important;
        height: auto !important;
        border-radius: 22px !important;
    }
    .profile-title {
        font-family: "Open Sans", sans-serif !important;
        font-size: 36px !important;
    }
    .profile-subtitle {
        font-family: "Open Sans", sans-serif !important;
        font-size: 16px !important;
        padding: 1px;
        color: #ffffff !important;
    }
    .chat-btn {
        font-family: "Open Sans", sans-serif !important;
        border-radius: 23px !important;
        padding: 8px !important;
        font-size: 12px !important;
        margin-top: -50px;
        margin-left: 24px;
        text-align: center !important;
    }
    /* social icons */
    .social-icon {
        width: 30px;
        height: 30px;
    }
    /* social icons */
    /* interview */
    .interview-text {
        font-family: "Open Sans", sans-serif !important;
        font-size: 16px !important;
        color: #ffffff !important;
    }
    .btn-voice-call {
        font-family: "Open Sans", sans-serif !important;
        border-radius: 2.76vw !important;
        font-size: 0.97vw !important;
        text-transform: capitalize !important;
        width: 13vw !important;
        height: 3.65vw !important;
        margin-left: -1.62vw !important;
        img {
            width: 1vw !important;
        }
    }
    .btn-upload {
        font-family: "Open Sans", sans-serif !important;
        border-radius: 2.76vw !important;
        font-size: 0.97vw !important;
        text-transform: capitalize !important;
        width: 13vw !important;
        height: 3.65vw !important;
        img {
            width: 20px !important;
        }
    }
    /* inerview */
    /* hire me card */
    .card-hire-me {
        border-radius: 51px !important;
    }
    .hire-me-title {
        font-size: 1vw !important;
        color: #ffffff;
        margin-left: 0.2vw !important;
    }
    .hire-me-subtitle {
        font-size: 0.9vw !important;
        color: #ffffff;
        text-transform: capitalize;
    }
    .btn-hire-me {
        font-family: "Open Sans", sans-serif !important;
        font-size: 15px;
        height: 45px !important;
        text-transform: capitalize !important;
        border-radius: 38px !important;
    }
    .img-hour {
        width: 1.2vw !important;
    }
    .btn-hire-me img {
        width: 20px !important;
    }
    .skill-item {
        width: fit-content;
    }
    /* tab styles */
    .parent-tab {
        overflow: hidden !important;
        border-radius: 26px 26px 0 0 !important;
    }
    .ct-tab-title {
        color: #ffffff !important;
        font-size: 1.2vw !important;
        font-weight: 600 !important;
    }
    .active-tab {
        background-color: #ffffff !important;
        color: #fc5283 !important;
    }
    /* Corners */
    .round-left-custom {
        border-top-left-radius: 26px;
    }
    .round-right-custom {
        border-top-right-radius: 26px !important;
    }
    .v-slide-group__prev {
        display: none !important;
    }
    .v-slide-group__next {
        display: none !important;
    }
    /* tab styles */
    /* Portfolio */
    .card-portfolio {
        border-radius: 20px !important;
        width: 90% !important;
    }
    /* Portfolio */
    /* Work */
    .work-title {
        font-family: "Poppins" !important;
        font-size: 1.25rem !important;
        font-weight: 700;
    }
    .work-subtitle {
        font-family: "Poppins" !important;
        font-size: 18px !important;
        color: #4b4b4b !important;
        font-weight: 400 !important;
    }
    .work-text {
        font-family: "Poppins" !important;
        font-size: 16px !important;
        color: #656565 !important;
    }
    /* Work */
    /* Skill tabs */
    .skill-tab-text {
        font-size: 14px !important;
        text-transform: capitalize !important;
    }
    .skill-child-title {
        font-weight: 500 !important;
    }
    /* Skills tabs */
    /* About Me Tab */
    .about-me-pic-flex {
        text-align: right !important;
    }
    .hello-text {
        color: #373737;
    }
    .hello-title {
        font-size: 35px;
        font-weight: 400;
        margin-top: 15px;
        color: #373737;
    }
    .hello-designation {
        font-size: 36px !important;
        font-weight: 400;
        margin-top: 22px;
        color: #373737;
    }
    .pic-box {
        width: 50%;
        height: auto !important;
        border-radius: 15px !important;
        aspect-ratio: 0.9 !important;
        box-shadow: 48px 56px 0px -8px rgba(97, 82, 207, 1) !important;
    }
    .about-me-flex {
        margin-top: -100px;
    }
    /* About Me Tab */
    /* Achievement */
    .achievement-title {
        font-size: 22px;
        color: #474747 !important;
        font-weight: normal;
    }
    .achievement-subtitle {
        color: #6152cf !important;
    }
    .achievement-text {
        color: #808080 !important;
    }
    /* Achievement */
    /* for google chrome and safari */
    .v-line {
        position: absolute;
        margin-top: 110px;
        margin-left: 19px;
        height: 110%;
        border: 1px solid #707070;
    }
    @-moz-document url-prefix() {
        .v-line {
            margin-top: 115px !important;
        }
    }
    /* achievement */
    /* achievement */
    /* Footer Image */
    /* Media Query */
    /* hire me card */
    /* special desktop case */
    @media screen and (min-width: 960px) {
        .interview-flex {
            margin-left: 4.06vw !important;
        }
        .certification {
            margin-top: 10% !important;
        }
    }
    /* special desktop case */
    /* .................................................Tablet ................................. */
    /* Tablet */
    // @media screen and (min-width:768px) and (max-width: 959px) {
    //     .desktop-row {
    //         margin-left: 50px !important;
    //     }
    //     .btn-voice-call {
    //         margin-left: -60px !important;
    //     }
    // }
    @media screen and (min-width:600px) and (max-width: 959px) {
        .availibility-tablet {
            display: inline;
        }
        //Hire me icons
        .hire-me-hour-icon {
            position: absolute;
            float: left;
            margin-left: 2px;
            margin-top: 15px;
        }
        //hire me icons
        // Social Icons
        .mobile-social-icon-image {
            width: 30px;
            height: 30px;
        }
        .mobile-social-icon-image-behance {
            width: 31px;
        }
        // Social Icons
        // updated inview desktop row
        .desktop-row {
            margin-top: -60px !important;
        }
        /* Profile */
        .profile-avatar {
            width: 18vw !important;
        }
        .profile-title {
            font-size: 3.5vw !important;
        }
        .profile-subtitle {
            font-size: 1.7vw !important;
        }
        .chat-btn {
            padding: 1.5vw !important;
            font-size: 1.28vw !important;
            margin-top: -6.44vw;
            margin-left: 3.86vw;
        }
        .chat-btn-img {
            width: 1.67vw !important;
        }
        .social-icon {
            width: 3.86vw;
            height: 3.86vw;
        }
        /* Profile */
        /* Ineterview  */
        .interview-flex {
            margin-top: 45px;
            margin-bottom: -10px;
        }
        .btn-voice-call {
            font-size: 1.55vw !important;
            text-transform: capitalize !important;
            width: 18vw !important;
            height: 5.12vw !important;
            margin-left: -10px;
            img {
                width: 12px !important;
            }
        }
        .btn-upload {
            font-size: 1.55vw !important;
            width: 18vw !important;
            height: 5.12vw !important;
            img {
                width: 1.93vw !important;
            }
        }
        /* Interview */
        /* Hire me */
        .hire-me-title {
            font-size: 2.0vw !important;
        }
        .hire-me-subtitle {
            font-size: 1.5vw !important;
            line-height: 30px;
            text-transform: capitalize;
        }
        .btn-hire-me {
            font-size: 1.54vw !important;
            height: 4.89hw !important;
            width: 16.87vw !important;
            img {
                width: 1.93vw !important;
            }
        }
        /* Hire me */
        /* tab */
        .parent-tab {
            border-radius: 26px 26px 0 0 !important;
        }
        .v-slide-group__prev.v-slide-group__prev--disabled {
            display: none !important;
        }
        .round-right {
            border-top-right-radius: 0px;
        }
        /* tab */
        /* Work */
        .work-title {
            font-size: 20px !important;
            font-weight: 700;
        }
        .work-subtitle {
            font-size: 16px !important;
        }
        .work-text {
            font-size: 12px !important;
        }
        /* Work */
        /* Skill tabs */
        .skill-tab-text {
            font-size: 12px !important;
            text-transform: capitalize !important;
        }
        /* Skill Tab */
        /* About Me */
        .pic-box {
            width: 50%;
            margin-right: 50px;
            margin-top: -20px;
        }
        .hello-title {
            font-size: 26px;
            font-weight: 400;
            margin-top: 15px;
            color: #373737;
        }
        .designation-for-tab {
            margin-top: -10px;
            font-size: 25px !important;
        }
        .hello-designation span {
            font-size: 20px !important;
        }
        .about-me-flex {
            margin-top: -50px;
        }
        /* About Me */
        /* vertical line */
        .v-line {
            position: absolute;
            margin-top: 109px;
            margin-left: 19px;
            height: 110%;
            border: 1px solid #707070 !important;
        }
        @-moz-document url-prefix() {
            .v-line {
                position: absolute;
                margin-top: 113px;
                margin-left: 19px;
                height: 110%;
                border: 1px solid #707070;
            }
        }
        /* vertical line */
    }
    /* Tablet */
    /* .................................................................................................. */
    /* ..............................................Mobile Screen................................. */
    @media screen and (max-width: 599px) {
        .custom-hour-img {
            margin-top: 3px;
            margin-left: 12px;
            @media screen and (max-width: 370px) {
                margin-left: 5px;
            }
        }
        .availibility-tablet {
            display: none;
        }
        /*  profile */
        .profile-avatar {
            margin-left: -30px;
            width: 120px !important;
            height: auto !important;
            border-radius: 22px !important;
        }
        .profile-title {
            font-size: 5vw !important;
        }
        .profile-subtitle {
            font-size: 3vw !important;
            padding: 2px;
            color: #ffffff !important;
        }
        .chat-btn {
            padding: 10px !important;
            font-size: 9px !important;
            margin-top: -50px;
            margin-left: -2px;
            width: 100px !important;
            text-align: center !important;
        }
        .chat-btn-img {
            width: 2px !important;
        }
        .mobile-social-icon-image {
            width: 25px;
        }
        .mobile-social-icon-image-behance {
            width: 27px;
        }
        .social-sm-icon-btn {
            margin-right: 3px !important;
            height: 6vw !important;
            min-width: 1vw !important;
        }
        .social-sm-icon {
            font-size: 8px !important;
        }
        .phone-btn {
            padding: 0px 8.444px !important;
            margin-top: 46px;
            margin-bottom: -0.8vw;
            height: 32px !important;
            min-width: 32px !important;
            @media screen and(max-width: 334) {
                margin-right: -3px;
            }
        }
        .phone-icon {
            font-size: 18px !important;
        }
        .video-btn {
            padding: 0px 4.444px !important;
            height: 32px !important;
            min-width: 32px !important;
            img {
                width: 16px !important;
                height: 13px !important;
            }
            @media screen and(max-width:334px) {
                margin-right: -3px;
            }
        }
        /* Profile */
        .skill-tab-text {
            font-size: 12px !important;
        }
        /* tabs */
        .tab-mobile-btn-active {
            width: 14vw !important;
            height: 14vw !important;
            img {
                width: 6vw !important;
                height: auto !important;
            }
        }
        .tab-dot {
            height: 10px;
            width: 10px;
            margin-right: 3px;
            background: lightgray;
            border-radius: 50px;
            display: inline-block;
            box-shadow: 0px 0px 4px gray inset;
        }
        .tab-dot-active {
            margin-right: 3px;
            height: 10px;
            width: 10px;
            background: black;
            border-radius: 50px;
            display: inline-block;
            box-shadow: 0px 0px 4px gray inset;
        }
        /* tabs */
        /* About Me */
        .about-me-flex {
            margin-top: 0px;
        }
        .pic-box {
            width: 50%;
            height: auto !important;
            border-radius: 15px !important;
            aspect-ratio: 0.9 !important;
            box-shadow: 40px 30px 0px -8px rgba(97, 82, 207, 1) !important;
        }
        .hello-title {
            font-size: 8vw;
            font-weight: 400;
            margin-top: 15px;
            color: #373737;
        }
        .designation-for-tab {
            margin-top: -10px;
            font-size: 7vw !important;
        }
        /* About ME */
        /* achievement */
        .achievement-title {
            font-size: 5vw;
        }
        /* achievement */
        .v-line {
            margin-top: 94px;
            height: 115%;
        }
        @-moz-document url-prefix() {
            .v-line {
                margin-top: 112px !important;
                height: 115% !important;
            }
        }
        //work work title
        .work-title {
            font-size: 14px !important;
        }
        .work-subtitle {
            font-size: 14px !important;
        }
        .work-text {
            font-size: 14px !important;
        }
    }
    /* mobile devices */
    /* min screen devices*/
    // ipad pro
    @media only screen and (max-width:1024px) {
        .btn-hire-me {
            width: 5vw;
            font-size: 12px;
        }
        .hire-me-parent-tab {
            margin-left: 10px !important;
        }
        .hire-card-frequency2 {
            img {
                margin-left: -5px !important;
            }
        }
    }
    // ipad pro
}