#resumeTheme300{

.v-icon.v-icon{
    color: #000;
    opacity: 1;
}
.main-tabs_theme3.v-tabs{
    max-height: 100%;
}
.main-tabs_theme3 .v-slide-group__content .v-tabs-slider-wrapper{
    height: 48px !important;
    width: 48px !important;
    z-index: -1;
    top: 25px;
    margin-left: -12px !important;
}

.main-tabs_theme3 .v-slide-group__content .v-tabs-slider-wrapper .v-tabs-slider{
    border-radius: 100%;
    background-color: transparent !important;
}

.main-tabs_theme3 .v-slide-group__content .v-tabs-slider-wrapper .v-tabs-slider.tabRed{
    background-color: rgb(217, 48, 37) !important;
    opacity: .1;
}
.main-tabs_theme3 .v-slide-group__content .v-tabs-slider-wrapper .v-tabs-slider.tabGreen{
    background-color: #0F9D58 !important;
    opacity: .1;
}
.main-tabs_theme3 .v-slide-group__content .v-tabs-slider-wrapper .v-tabs-slider.tabGold{
    background-color: #F4B400 !important;
    opacity: .1;
}
.main-tabs_theme3 .v-slide-group__content .v-tabs-slider-wrapper .v-tabs-slider.tabBlue{
    background-color: #4285F4 !important;
    opacity: .1;
}

.main-tabs_theme3>.v-tabs-bar{
    height: 100px !important;
}

/** Timeline dot styles */
.work-section .v-timeline .v-timeline-item__dot{
    border: 6px solid #0F9D58;
}
.education-section .v-timeline .v-timeline-item__dot{
    border: 6px solid #F4B400;
}
.v-timeline .v-timeline-item__dot--small .v-timeline-item__inner-dot{
    display: none;
}
.v-timeline.mobile__version .v-timeline-item .v-timeline-item__body{
    max-width: 100%;
}
.v-timeline.mobile__version .v-timeline-item .v-timeline-item__divider{
    display: none;
}


/** Payment wrap **/
.hold-payment .pay-method{
    width: 100%;
}
.hold-payment .pay-method .v-input__control{
    flex-grow: 1;
}
.hold-payment .pay-method.v-input--radio-group--row .v-input--radio-group__input{
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: 150px;
}
.hold-payment .pay-method .v-radio i{
    font-size: 41px;
    color: #D8D8D8;
}
.hold-payment .pay-method .v-radio.v-item--active i{
    color: #D93025 !important;
}
.hold-payment .pay-method .v-radio .v-input--selection-controls__input{
    width: 41px;
    height: 41px;
    margin: 0;
}
.hold-payment .pay-method .v-radio .v-input--selection-controls__input input[type=radio]{
    max-height: 100%;
}
#resumeTheme300 .form-wrap .form-messages{
    width: 100%;
}
#resumeTheme300 .form-wrap .form-messages .input-col{
    padding: 0px;
}
#resumeTheme300 .form-wrap .v-text-field{
    margin: 0 0 40px 0;
    padding: 0;
}
#resumeTheme300 .form-wrap .v-text-field input{
    background: #fff;
    border-radius: 0px;
    min-height: auto;
    padding-left: 0px;
}

#resumeTheme300 .form-wrap .v-text-field .v-label{
    font-size: 16px;
}
#resumeTheme300 .form-wrap .v-text-field.v-text-field--enclosed{
    margin: 0;
    border-radius: 0px;
}
#resumeTheme300 .form-wrap .v-text-field.v-textarea > .v-input__control > .v-input__slot:before{
    border-width: 0px;
}
#resumeTheme300 .form-wrap .v-input input:invalid, .form-wrap .v-input textarea:invalid{
    box-shadow: none;
}
#resumeTheme300 .form-wrap .v-text-field>.v-input__control>.v-input__slot{
    border-bottom: 1px solid #ccc;
}



@media screen and (max-width: 769px) {
    .main-tabs_theme3 .v-slide-group__content{
        justify-content: center;
    }
    .main-tabs_theme3 .v-slide-group__content .v-tabs-slider-wrapper{
        display: none;
    }
    .main-tabs_theme3>.v-tabs-bar{
        height: 77px !important;
    }
    .main-tabs_theme3>.v-tabs-bar .v-slide-group__prev{
        display: none !important;
    }
    .v-timeline-item .v-timeline-item__body{
        max-width: 100% !important;
    }
    .v-timeline::before,.v-timeline-item .v-timeline-item__divider,.v-timeline-item .v-timeline-item__opposite{
        display: none;
    }
}

}
